body {
  background-image: url('../public/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
img {
  width: 300px;
}
.categoryButtonSelected {
  background-color: #A7FFE4;
  padding: 10px;
  margin: 3px;
}
.categoryButtonSelected:hover {
background-color: #FFD6EC;
cursor: pointer;
}
.categoryButton {
  background-color: #FF74B1;
  padding: 10px;
  margin: 3px;
}
.categoryButton:hover {
  background-color: #FFD6EC;
  cursor: pointer;
}
.basket {
  font-size: 30px;
}
.basket:hover {
  cursor: pointer;
}
.totalSum {
  text-decoration: underline;
  font-weight: 600;
}
.toy {
  background-color: #ffa1ceb0;
  padding: 15px;
  margin-bottom: 10px;
}
.cartItem {
  background-color: #ffd6ec83;
}
button {
  background-color: #FF74B1;
  border: none;
  padding: 10px;
  margin: 5px
}
button:hover {
  background-color: #FFD6EC;
  cursor: pointer;
}
button:active {
  background-color: #A7FFE4;
}
.image {
  box-shadow: 2px 3px 5px rgb(109, 106, 106);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media all and (max-width: 800px) {
  .block {
    font-size: 15px;
  }
  img {
    width: 200px;
  }
  button {
    padding: 7px;
    margin: 4px;
  }
}

@media all and (max-width: 500px) {
  .block {
    font-size: 12px;
  }
  img {
    width: 150px;
  }
  button {
    padding: 5px;
    margin: 2px;
  }
}